<h4>Rates List</h4>
<div class="row">
  <div class="col-md-10">
    <p>Adjust below rates to your actual figures</p>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-primary btn-sm" (click)="onNewRate()">New Rate</button>
  </div>
</div>

<app-edit-rate
  [isNewRate]="newRate"
  (rateEdited)="onRateEdited($event)"
  *ngIf="getEditMode()">
</app-edit-rate>

<app-delete-dialog
*ngIf="openDeleteDialog"
[element]="toBeRemoved"
(itemDeleted)="onRateDeleted($event)">
</app-delete-dialog>

<table class="table table-compact">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>First Coat</th>
      <th>Second Coat</th>
      <th>Unit</th>
      <th>Category</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rate of rates; let i = index">
      <td>{{ rate.name }}</td>
      <td>{{ rate.description }}</td>
      <td>{{ rate.first_coat }}</td>
      <td>{{ rate.second_coat }}</td>
      <td>{{ rate.rate_category.unit }}</td>
      <td> {{ rate.rate_category.name }}</td>
      <td>
        <clr-dropdown clrMenuPosition="bottom-right">
          <button clrDropdownToggle>
              <clr-icon shape="cog"></clr-icon>
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu>
              <a clrDropdownItem (click)="onEditRate(rate)">
                <clr-icon shape="pencil" class="is-highlight"></clr-icon> Edit</a>
              <a clrDropdownItem (click)="onDeleteRate(rate, i)">
                <clr-icon shape="trash" class="is-error"></clr-icon> Delete</a>
          </clr-dropdown-menu>
          </clr-dropdown>
      </td>
    </tr>
  </tbody>
</table>
