<div class="modal">
  <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="onCloseDialog()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h4 class="modal-title">
          <clr-icon shape="times" class="is-error" size="28"></clr-icon>
          Confirm Deletion
        </h4>
      </div>
      <div class="modal-body">
        <h4>Are you sure you wanna delete the element: {{ element.name }}</h4>
        <h5><clr-icon shape="warning" class="is-warning" size="28"></clr-icon>
          This action can not be undone!</h5>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline" type="button" (click)="onCloseDialog()">No, Keep it</button>
        <button class="btn btn-danger-outline" type="button" (click)="onDelete()">Yes, Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>
