<div class="card-header">
  User Profile Edit
</div>
<div class="card-block">
  <div class="card-text">
    <form [formGroup]="form">
      <section class="form-block">
        <div class="form-group">
          <label for="aForm_1">Name</label>
          <input type="text" class="form-control" id="aForm_1" formControlName="name" placeholder="Enter Your Name here" size="35" required>
        </div>
      </section>
    </form>
  </div>
</div>
<div class="card-footer">
  <button type="button" (click)="submit(form)" class="btn btn-outline btn-success" [disabled]="!form.dirty || !form.valid">Save
  </button>
  <button type="button" class="btn btn-outline" (click)="onCancel()" *ngIf="form.dirty">Cancel</button>
</div>