<div class="modal">
  <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="onCloseModal()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h4 class="modal-title">Edit Estimate</h4>
      </div>
      <form [formGroup]="estimateForm" class="compact">
        <div class="modal-body">
          <section class="form-block">
            <div class="form-group">
              <label class="required">Start Time</label>
              <input class="form-control" type="datetime-local" formControlName="start_time"  size="45">
            </div>
            <div class="form-group">
              <label class="required">Job Type</label>
              <div class="select">
                <select class="form-control" formControlName ="work_type">
                  <option *ngFor="let type of workTypes" [value]="type">{{type}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label>Work Description</label>
              <input class="form-control" type="text" formControlName="work_description" size="45">
            </div>
          </section>
        <div class="modal-footer">
          <button class="btn btn-outline" type="button" (click)="onCloseModal()">Cancel</button>
          <button class="btn btn-primary" type="button" (click)="onSaveChanges(estimateForm.value)"
          [disabled]="!estimateForm.valid">Update Estimate</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>
