<!-- <h4>Flex Rates List</h4>
<div class="row">
  <div class="col-md-10">
    <p>Adjust below rates to your actual figures</p>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-primary btn-sm" (click)="onNewRate()">New Rate</button>
  </div>
</div>

<app-edit-flex-rate
  [isNewRate]="newRate"
  (rateEdited)="onRateEdited($event)"
  *ngIf="getEditMode()">
</app-edit-flex-rate>

<app-delete-dialog
*ngIf="openDeleteDialog"
[element]="toBeRemoved"
(itemDeleted)="onRateDeleted($event)">
</app-delete-dialog>

<table class="table table-compact">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Rate</th>
      <th>Unit</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rate of flexRates; let i = index">
      <td>{{ rate.name }}</td>
      <td>{{ rate.description }}</td>
      <td>{{ rate.rate }}</td>
      <td> {{ rate.unit }}</td>
      <td>
        <clr-dropdown clrMenuPosition="bottom-right">
          <button clrDropdownToggle>
              <clr-icon shape="cog"></clr-icon>
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu>
              <a clrDropdownItem (click)="onEditRate(rate)">
                <clr-icon shape="pencil" class="is-highlight"></clr-icon> Edit</a>
              <a clrDropdownItem (click)="onDeleteRate(rate, i)">
                <clr-icon shape="trash" class="is-error"></clr-icon> Delete</a>
          </clr-dropdown-menu>
          </clr-dropdown>
      </td>
    </tr>
  </tbody>
</table> -->


<ul id="demoTabs" class="nav" role="tablist">
  <li role="presentation" class="nav-item">
    <button id="tab1" class="btn btn-link nav-link {{tab1 ? 'active' : ''}}" aria-controls="panel1"
            (click)="tabSelect($event)" type="button">Rates</button>
  </li>
  <li role="presentation" class="nav-item">
    <button id="tab2" class="btn btn-link nav-link {{tab2 ? 'active' : ''}}" aria-controls="panel2"
            (click)="tabSelect($event)" type="button">Categories</button>
  </li>
</ul>
<section *ngIf="tab1 && !tab2" id="panel1" role="tabpanel" aria-labelledby="tab1">
  <app-rates></app-rates>
</section>
<section *ngIf="tab2 && !tab1" id="panel2" role="tabpanel" aria-labelledby="tab2">
  <app-categories></app-categories>
</section>
