<div class="modal">
  <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="onCloseModal()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h4 class="modal-title">{{isNewMeasure ? 'New' : 'Edit'}} Measurement</h4>
      </div>
      <div class="modal-body">
        <section class="form-block">
        <form [formGroup]="measureForm" class="compact">
          <div class="form-group">
            <label class="required">Name</label>
            <input class="form-control" type="text" formControlName="name" size="45">
          </div>
          <div class="form-group">
            <label class="required">Measure</label>
            <input class="form-control" type="text" formControlName="value" size="45">
          </div>
          <div class="form-group">
            <label class="required">Unit</label>
            <div class="select">
              <select class="form-control" formControlName="unit">
                <option *ngFor="let unit of measureUnits" [value]="unit">{{unit}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="required">Category</label>
            <div class="select">
              <select class="form-control" formControlName="category">
                <option *ngFor="let category of measureCategories" [value]="category">{{category}}</option>
              </select>
            </div>
          </div>
        </form>
      </section>

      </div>
      <div class="modal-footer">
        <button class="btn btn-outline" type="button" (click)="onCloseModal()">Cancel</button>
        <button class="btn btn-primary" type="button" (click)="onSaveChanges()"
        [disabled]="!measureForm.valid">{{isNewMeasure ? 'Add' : 'Update'}} Measurement</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>
