<!--Show only when Credentials are present  -->
<div class="modal" *ngIf="checkCredeiantials === true">
  <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
    <form #form="ngForm" (ngSubmit)="onAddEstimate(form)">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" type="button" (click)="onCloseModal()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
          <h4 class="modal-title">New Estimate</h4>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-md-3">
              <label class="required">First Name</label>
            </div>
            <div class="col-md-3">
              <input class="form-control" ngModel required type="text" name="firstName" size="45">
            </div>
            <div class="col-md-3">
              <label class="required">Last Name</label>
            </div>
            <div class="col-md-3">
              <input class="form-control" ngModel required type="text" name="lastName" size="45">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3">
              <label class="required">Email</label>
            </div>
            <div class="col-md-3">
              <input class="form-control" ngModel required type="email" name="email" size="45">
            </div>
            <div class="col-md-3">
              <label class="required">Phone Number</label>
            </div>
            <div class="col-md-3">
              <input class="form-control" [textMask]="{mask: mask}" placeholder="(123) 456-7890" ngModel required type="text" name="phone_number"
                size="45">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-3">
              <label class="required">Address Line 1</label>
            </div>
            <div class="col-md-3">
              <input class="form-control" required ngModel type="text" name="addr_line1" size="45">
            </div>
            <div class="col-md-3">
              <label class="required">Address Line 2</label>
            </div>
            <div class="col-md-3">
              <input class="form-control" required ngModel type="text" name="addr_line2" size="45">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3">
              <label>Zip Code (optional)</label>
            </div>
            <div class="col-md-3">
              <input class="form-control" ngModel type="text" name="zipcode" size="45">
            </div>
            <div class="col-md-3">
              <label>City (optional)</label>
            </div>
            <div class="col-md-3">
              <input class="form-control" ngModel type="text" name="city" size="45">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-3">
              <label class="required">Start Time</label>
            </div>
            <div class="col-md-9">
              <input class="form-control" required ngModel type="datetime-local" name="start_time" size="45">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3">
              <label class="required">Job Type</label>
            </div>
            <div class="col-md-9">
              <div class="select">
                <select class="form-control" required ngModel name="work_type">
                  <option *ngFor="let type of workTypes" [value]="type">{{type}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-3">
              <label>Work Description (optional)</label>
            </div>
            <div class="col-md-9">
              <input class="form-control" ngModel type="text" name="work_description" size="45">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline" type="button" (click)="onCloseModal()">Cancel</button>
          <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Create Estimate</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!--/End  -->
<!-- ===================================================================================  -->
<!--Show Only When Credntials are NOT present  -->
<div class="modal" *ngIf="checkCredeiantials === false">
  <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" type="button" (click)="onCloseModal()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
          <h4 class="modal-title">Authorize</h4>
        </div>
        <div class="modal-body">
          <h3>We Need you authorize with google calender inorder to proceed to create estimate</h3>
          <h4>Please click on Autorize button</h4>
          <button type="button" class="btn btn-primary" (click)="onAuthorize()">Authorize</button>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline" type="button" (click)="onCloseModal()">Cancel</button>
        </div>
      </div>
  </div>
</div>

<!--/End  -->

<div class="modal-backdrop" aria-hidden="true"></div>