<header class="header header-6">
  <div class="branding">
    <a routerLink="/" class="nav-link">
      <span class="title">STMETER</span>
    </a>
  </div>
  <div class="header-nav">
      <!--<a routerLinkActive="active" class="nav-link nav-text" href="#">Dashboard</a>-->
      <a routerLink="/sales" routerLinkActive="active" class="nav-link nav-text">Sales</a>
      <!--<a routerLink="#" routerLinkActive="active" class="nav-link nav-text">Operations</a>-->
  </div>
  <div class="header-actions">
    <clr-dropdown clrMenuPosition="bottom-right">
      <button class="nav-icon" clrDropdownToggle>
          <clr-icon shape="user"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu>
          <a routerLink="/settings" clrDropdownItem>Settings</a>
          <a (click)="onSignout()" clrDropdownItem>Log out</a>
      </clr-dropdown-menu>
      </clr-dropdown>
  </div>
</header>
