<div class="content-container">
  <nav class="sidenav">
    <section class="sidenav-content">
      <a routerLink="estimates" class="nav-link">Estimates</a>
        <section class="nav-group collapsible">
          <input id="estimating" type="checkbox">
          <label for="estimating">Estimating</label>
          <ul class="nav-list">
            <li><a routerLink="estimating/grates" class="nav-link">Global Rates</a></li>
            <li><a routerLink="estimating/flex" class="nav-link">Flex Estimating</a></li>
            <li><a routerLink="estimating/prodrates" class="nav-link">Prod Rates Estimating</a></li>
            <li><a routerLink="estimating/materials" class="nav-link">Materials</a></li>
          </ul>
        </section>
        <!--<a routerLink="takeoffs" class="nav-link">Preview Takeoffs</a>-->
      <!--<a routerLink="#" class="nav-link">Sales Tracking</a>-->
    </section>
  </nav>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
