<h4>Categories List</h4>
<div class="row">
  <div class="col-md-10">
    <p></p>
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-primary btn-sm" (click)="onNewCategory()">New Category</button>
  </div>
</div>

<app-edit-category [isNewCategory]="newCategory" (categoryEdited)="onCategoryEdited($event)" *ngIf="getEditMode()">
</app-edit-category>

<app-delete-dialog *ngIf="openDeleteDialog" [element]="toBeRemoved" (itemDeleted)="onRateDeleted($event)">
</app-delete-dialog>

<table class="table table-compact">
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit</th>
      <th>Interior/Exterior</th>
      <th>Rates Count</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of rateCategories; let i = index">
      <td>{{ category.name }}</td>
      <td>{{ category.unit }}</td>
      <td>{{ category.inout }}</td>
      <td>
        <span class="badge badge-success">
          {{ category.rates.length }}
        </span></td>
      <td>
        <clr-dropdown clrMenuPosition="bottom-right">
          <button clrDropdownToggle>
              <clr-icon shape="cog"></clr-icon>
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu>
            <a clrDropdownItem (click)="onEditCategory(category)">
              <clr-icon shape="pencil" class="is-highlight"></clr-icon> Edit</a>
          </clr-dropdown-menu>
        </clr-dropdown>
      </td>
    </tr>
  </tbody>
</table>