<div class="row">
  <div class="col-md-12">
    <div class="card">
      <app-profile [name]="userProfile.name" (profileFormSubmit)="profileSubmit($event)">
      </app-profile>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <app-change-password></app-change-password>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <app-set-time-zone></app-set-time-zone>
    </div>
  </div>
</div>