<h2>List of Takeoffs</h2> 
<table class="table">
    <thead>
        <tr>
            <th class="left">Client Name</th>
            <th class="left">Email</th>
            <th class="center">Link</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td class="left">Gopal</td>
            <td class="left">gopal@gmail.com</td>
            <td class="center"><a href="#">link to Google Sheet </a></td>
        </tr>
          </tbody>
</table>