<ul id="demoTabs" class="nav" role="tablist">
  <li role="presentation" class="nav-item">
    <button id="tab1" class="btn btn-link nav-link {{tab1 ? 'active' : ''}}" aria-controls="panel1"
            (click)="tabSelect($event)" type="button">Production Rates</button>
  </li>
  <li role="presentation" class="nav-item">
    <button id="tab2" class="btn btn-link nav-link {{tab2 ? 'active' : ''}}" aria-controls="panel2"
            (click)="tabSelect($event)" type="button">Measurements</button>
  </li>
</ul>
<section *ngIf="tab1 && !tab2" id="panel1" role="tabpanel" aria-labelledby="tab1">
  <app-prates></app-prates>
</section>
<section *ngIf="tab2 && !tab1" id="panel2" role="tabpanel" aria-labelledby="tab2">
  <app-measures></app-measures>
</section>
