<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <label>Global Estimating Rates</label>
      </div>
      <div class="card-block">
        <div class="card-text">
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)" class="compact">
            <section class="form-block">
              <div *ngFor="let rate of globalRates" class="form-group row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                  <label [attr.for]="rate.name">{{ rate.name }}</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                  <input class="form-control" type="number" [formControlName]="rate.id" size="45">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                  <span *ngIf="rate.category === 'percent'">%</span>
                  <span *ngIf="rate.category === 'num'">$/Hr</span>
                </div>
              </div>
            </section>
            <div class="card-footer">
              <button type="submit" class="btn btn-outline btn-success" [disabled]="!form.dirty || !form.valid" [clrLoading]="saveLoading">Save Changes</button>
              <button type="button" class="btn btn-outline" (click)="onCancel()" *ngIf="form.dirty" [clrLoading]="saveLoading">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>