<div class="login-wrapper">
  <form class="login" (ngSubmit)="onSignup(form)" #form="ngForm">
    <label class="title">
      <h3 class="welcome">Welcome to</h3>
      STMETER
      <h5 class="hint">Create your account</h5>
    </label>
    <div class="login-group">
      <input class="username" type="email" id="email" placeholder="Email"
      name="email" ngModel required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
      <input class="password" type="password" id="password" placeholder="Password"
      name="password" ngModel required>
      <input class="password" type="password" id="password" placeholder="Password Confirmation"
      name="password_confirmation" ngModel>
      <input class="username" type="text" id="account" placeholder="Account name"
      name="account" ngModel required>

      <div class="error">
          Invalid user name or password
      </div>
      <button type="submit" [clrLoading]="submitLoading" class="btn btn-primary" [disabled]="!form.dirty || !form.valid || submitLoading">Sign Up</button>
      <a routerLink="/signin" class="signup">Sign In</a>
    </div>
  </form>
</div>
