<!--component html goes here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<div class="card-header">
  Set Time Zone
</div>
<div class="card-block">
  <div class="card-text">
    <ng2-timezone-picker [timezone]="user.timezone" (change)="changeTimezone($event)" placeholder="Select timezone">
    </ng2-timezone-picker>
    <b *ngIf="!timezone">No Time Zone Selected</b>
    <b *ngIf="timezone">Selected Time zone is: <i> {{ timezone }} </i></b>
  </div>
</div>

<div class="card-footer">
  <button type="submit" (click)="onSetTimeZone()" class="btn btn-outline btn-success" 
    [disabled]="!showbutton">Set Time zone</button>
</div>