<toaster-container [toasterconfig]="toasterconfig"></toaster-container>

<div class="main-container">
  <app-nav *ngIf="activateNav" [current_user]="current_user"></app-nav>
  <router-outlet></router-outlet>
</div>
