<div class="card-header">
  Change password
</div>
<div class="card-block">
  <div class="card-text">
    <form [formGroup]="form">
      <section class="form-block">
        <div class="form-group">
          <label for="aForm_1">Old Password</label>
          <input type="password" id="aForm_1" formControlName="current_password" placeholder="Enter Your Old Password Here" size="35" required>
        </div>
        <div class="form-group">
          <label for="aForm_2">New Password</label>
          <input type="password" id="aForm_2" formControlName="password" placeholder="Enter Your New Password Here" size="35" required>
        </div>

        <div class="form-group">
          <label for="aForm_2">Re-Enter Password</label>
          <input type="password" id="aForm_2" formControlName="password_confirmation" placeholder="Re-Enter Your Password Here" size="35" required>
        </div>
      </section>
    </form>
  </div>
</div>
<div class="card-footer">
  <button type="submit" (click)="onSubmit(form)" class="btn btn-outline btn-success" [disabled]="!form.dirty || !form.valid">Change Password</button>
  <button type="button" class="btn btn-outline" (click)="onCancel()" *ngIf="form.dirty">Cancel</button>
</div>