<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        Invite User
      </div>
      <div class="card-block">
        <div class="card-text">
          <form [formGroup]="inviteForm">
            <input class="form-control col-lg-4" id="email" type="email" formControlName="email" placeholder="enter email">
            <button (click)="onSubmit()" class="btn btn-primary btn-sm" type="button">Invite</button>
            <p class="help-block" *ngIf="inviteForm.get('email').invalid && (inviteForm.get('email').touched || isFormSubmit)">
              email is Required
            </p>
          </form>

          <table class="table table-compact">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of userData; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ data.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>