<div class="modal">
  <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button" (click)="onCloseModal()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <h4 class="modal-title">{{isNewRate ? 'New' : 'Edit'}} Rate</h4>
      </div>
      <div class="modal-body">
        <section class="form-block">
        <form [formGroup]="rateForm" class="compact">
          <div class="form-group">
            <label class="required">Name</label>
            <input class="form-control" type="text" formControlName="name" size="45">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input class="form-control" type="text" formControlName="description" size="45">
          </div>
          <div class="form-group">
            <label class="required">First Coat</label>
            <input class="form-control" type="number" formControlName="first_coat" size="45">
          </div>
          <div class="form-group">
            <label>Second Coat</label>
            <input class="form-control" type="number" formControlName="second_coat" size="45">
          </div>
          <div class="form-group">
            <label class="required">Category</label>
            <div class="select">
              <select class="form-control" formControlName="category_id">
                <option *ngFor="let category of rateCategories" [value]="category.id">{{category.name}}</option>
              </select>
            </div>
          </div>
        </form>
      </section>

      </div>
      <div class="modal-footer">
        <button class="btn btn-outline" type="button" (click)="onCloseModal()">Cancel</button>
        <button class="btn btn-primary" type="button" (click)="onSaveChanges()"
        [disabled]="!rateForm.valid">{{isNewRate ? 'Add' : 'Update'}} Rate</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>
