<div class="login-wrapper">
<div class = "form-group">
    <button class="btn btn-primary" (click)="goBack()"> back</button>
    <form #f="ngForm" class="login" (ngSubmit)="submit(f.value, f.valid)" novalidate>
      <h3 class="hint">Enter Your Email for Password Reset</h3>
      <div class="login-group">
        <input class="username" 
          ngModel 
          required 
          type="email" 
          name="email" 
          placeholder="Enter Email"
          required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
        <p *ngIf="email_error" style="color:red"> {{ email_error}}</p>
      <button type="submit" [disabled]="!f.dirty || !f.valid">Submit</button>
      <p class="email-sent" *ngIf="email_sent">*Email Sent Please Check Your Email</p>
      </div>
    </form>
</div>
</div>
