<h4>Production Rates</h4>
<div class="row">
  <div class="col-md-9">
    <p>Adjust below rates to your actual figures</p>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-sm" (click)="onNewRate()">New Production Rate</button>
  </div>
</div>

<app-edit-prod-rate [isNewRate]="newRate" (rateEdited)="onRateEdited($event)" *ngIf="getEditMode()">
</app-edit-prod-rate>

<app-delete-dialog *ngIf="openDeleteDialog" [element]="toBeRemoved" (itemDeleted)="onRateDeleted($event)">
</app-delete-dialog>

<table class="table table-compact">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rate</th>
      <th>Unit</th>
      <th>INT/EXT</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rate of prodRates; let i = index">
      <td>{{ rate.name }}</td>
      <td>{{ rate.rate }}</td>
      <td>{{ rate.unit }}</td>
      <td> {{ rate.category }}</td>
      <td>
        <clr-dropdown clrMenuPosition="bottom-right">
          <button clrDropdownToggle>
            <clr-icon shape="cog"></clr-icon>
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu>
            <a clrDropdownItem (click)="onEditRate(rate)">
              <clr-icon shape="pencil" class="is-highlight"></clr-icon> Edit</a>
            <a clrDropdownItem (click)="onDeleteRate(rate, i)">
              <clr-icon shape="trash" class="is-error"></clr-icon> Delete</a>
          </clr-dropdown-menu>
        </clr-dropdown>
      </td>
    </tr>
  </tbody>
</table>