<!--Estimate Modal  -->
<app-new-estimate *ngIf="isNewEstimate()">
</app-new-estimate>

<app-edit-estimate *ngIf="getEditMode()">
</app-edit-estimate>

<app-delete-dialog *ngIf="openDeleteDialog" [element]="toBeRemoved" (itemDeleted)="onEstimateDeleted($event)">
</app-delete-dialog>

<h4>Estimates</h4>
<div class="row">
  <div class="col-md-10">
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-primary btn-sm" (click)="onNewEstimate()">New Estimate</button>
  </div>
</div>
<div class="row">
  <div class="box-align">
    <div class="select">
      <select #filterArrival (change)="searchEstimates({type: 'arrival',value: filterArrival.value })">    
        <option value="all">All</option>
        <option value="today">Today</option> 
        <option value="week">This week</option>
        <option  value="month">This Month</option>
      </select>
    </div>
  </div>
  <div class="box-align">
    <div class="select">
      <select #statusSelect (change)="searchEstimates({type: 'status',value: statusSelect.value })">
                    <option value="all">All</option>        
                    <option value="pending">Pending</option>
                    <option value="ongoing">Ongoing</option>
                    <option  value="completed">Completed</option>
      </select>
    </div>
  </div>
  <div class="box-align">
    <div class="form-group">
      <input (keyup.enter)="searchEstimates({type: 'query',value: $event.target.value })" type="text" placeholder="Search by name"
        size="20">
    </div>
  </div>
</div>


<div style="position: relative">
  <div class="loader" *ngIf="loadSpinner"></div>
  <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Email</clr-dg-column>
    <clr-dg-column>Cell Number</clr-dg-column>
    <clr-dg-column>Address</clr-dg-column>
    <clr-dg-column>Estimate Time</clr-dg-column>
    <clr-dg-column>Status</clr-dg-column>
    <clr-dg-column>Action</clr-dg-column>

    <clr-dg-row *ngFor="let estimate of estimates; let i = index">
      <clr-dg-cell>{{estimate.property.client.full_name}}</clr-dg-cell>
      <clr-dg-cell>{{estimate.property.client.email}}</clr-dg-cell>
      <clr-dg-cell>{{estimate.property.client.phone_number}}</clr-dg-cell>
      <clr-dg-cell>{{estimate.property.full_address}}</clr-dg-cell>
      <clr-dg-cell>{{estimate.start_time | date:'medium'}}</clr-dg-cell>

      <clr-dg-cell class="status-color">
        <span [ngClass]="getClassName(estimate.status)">{{estimate.status}}</span>
      </clr-dg-cell>

      <clr-dg-cell>
        <clr-dropdown clrMenuPosition="bottom-right">
          <button clrDropdownToggle>
              <clr-icon shape="cog"></clr-icon>
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu>
            <a clrDropdownItem (click)="onEditEstimate(estimate)">
              <clr-icon shape="pencil" class="is-highlight"></clr-icon> Edit</a>
            <a clrDropdownItem (click)="onDeleteEstimate(estimate, i)">
              <clr-icon shape="trash" class="is-error"></clr-icon> Delete</a>
            <a clrDropdownItem *ngIf="estimate.status === 'completed'" 
                href="{{estimate.takeoff.sheet_url}}" target="_blank">
                <clr-icon shape="link" class="is-highlight" ></clr-icon> Takeoff Link</a>
          </clr-dropdown-menu>
        </clr-dropdown>
      </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer class="datagrid-foot" [hidden]="clrpagination.totalItems === 0">
      {{clrpagination.firstItem + 1}} - {{clrpagination.lastItem + 1}} of {{clrpagination.totalItems}} estimates
      <clr-dg-pagination #clrpagination [clrDgTotalItems]="pagination.total" [clrDgPageSize]="pagination.per_page"></clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>