.box-align {
    margin-left: 20px;
    margin-top: 20px;
}
.status-color{
    color: white;
font-weight:bold;

}
.badge{    
    font-size: 11px;
    padding: 8px;
    color: white;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.batch-pending-color{
    background-color: orange;
}
.batch-completed-color{
    background-color: lightslategray;
}
.batch-ongoing-color {
    background-color: #57c199;
}