<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
  <section class="form-block">
    <h1 align="center">Solo Plan Monthly</h1>
    <hr>
    <h5 align="center">Card will be charged <span class="badge badge-3">$40/Month</span></h5>
    <hr>

    <div class="form-group">
      <label for="aForm_1" class="required">Credit/Debit Card Number</label>
      <input type="text" id="aForm_1" [formControl]="form.controls['card_number']" placeholder="Enter Your Credit/Debit Card number" size="35">
    </div>
    <div class="form-group">
      <label for="aForm_1" class="required">CVV Code on Card</label>
      <input type="password" id="aForm_2" [formControl]="form.controls['cvv_code']" placeholder="cvv" size="3">
    </div>

    <div class="form-group">
      <label for="aForm_1" class="required">Expiration date</label>
      <input type="text" id="aForm_2" [formControl]="form.controls['exp_month']"  placeholder="MM" size="2">
      <input type="text" id="aForm_2" [formControl]="form.controls['exp_year']" placeholder="YYYY" size="4">
    </div>
    <div class="form-group">
      <label for="aForm_1" class="required">Cardholder Name </label>
      <input type="text" id="aForm_2" [formControl]="form.controls['cardholder_name']" placeholder="Enter your name as on card" size="35">
    </div>
    <button type="submit" class="btn btn-outline btn-success" [disabled]="!form.valid" >Continue</button>
    <!-- <button type="button" class="btn btn-outline"  >Cancel</button> -->
  </section>
</form>