<!--
  <div class="list-group">
    <a routerLink="/" class="list-group-item main-color-bg">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Sales</a>
    <a class="list-group-item" routerLink="estimates">
      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Estimates
      <span class="badge">12</span></a>
    <a routerLink="estimating" class="list-group-item">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Estimating
      <span class="badge">33</span></a>
    <a href="users.html" class="list-group-item">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Leads
      <span class="badge">203</span></a>
  </div> -->


<!-- <section class="sidenav-content">
  <a routerLink="estimates" class="nav-link">Estimates</a>
    <section class="nav-group collapsible">
      <input id="estimating" type="checkbox">
      <label for="estimating">Estimating</label>
      <ul class="nav-list">
        <li><a routerLink="estimating/rates" class="nav-link">Rates</a></li>
        <li><a routerLink="estimating/flex" class="nav-link">Flex Estimating</a></li>
        <li><a routerLink="estimating/prodrates" class="nav-link">Prod Rates Estimating</a></li>
        <li><a routerLink="estimating/materials" class="nav-link">Materials</a></li>
      </ul>
    </section>
  <a routerLink="#" class="nav-link">Sales Tracking</a>
</section> -->
