/* You can add global styles to this file, and also import other style files */

/*Old styles before clarity package

body{
  background:#f4f4f4;
  padding-top: 70px;
}

.main-color-bg{
  background-color: #CDDC39 !important;
  border-color: none;
  color:#ffffff !important;
}

.breadcrumb{
  background:#CDDC39;
  color:#333333;
}*/
