<div class="login-wrapper">
  <div class="form-group">
    <form [formGroup]="passwordForm" class = "login">
      <h3 class="hint">Please Enter the New Password</h3>
      <div class="login-group">
        <input class="username" id="password" type="password" required formControlName="password" placeholder="Enter Password">
        <p class="help-block" *ngIf="passwordForm.get('password').invalid && (passwordForm.get('password').touched || isFormSubmit)">
          Password is Required
        </p>
        <input class="username" id="confirmPassword" type="password" required formControlName="confirmPassword" placeholder="Confirm Password">
        <p class="help-block" *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').touched || isFormSubmit)">
          Confirmation is Required
        </p>
        <button (click)="onSubmit()" class="btn btn-primary" type="button">Submit</button>
      </div>
    </form>
  </div>
</div>
