<div class="login-wrapper">
    <form class="login" (ngSubmit)="onAccept(form)" #form="ngForm">
      <label class="title">
        <h3 class="welcome">Welcome to</h3>
        STMETER
        <h5 class="hint">Please enter your name and password to accept invitation</h5>
      </label>
      <div class="login-group">
        <input class="username" type="email" id="email" placeholder="Email"
        name="email" [(ngModel)]="email" disabled>
        <input class="username" type="text" id="name" placeholder="Name"
        name="name" ngModel>
        <input class="password" type="password" id="password" placeholder="Password"
        name="password" ngModel>
        <button type="submit" class="btn btn-primary">Accept Invitation</button>
        <a routerLink="/signup" class="signup">Sign Up</a>
        <a [routerLink]="['/forgotPassword']">forgot password</a>
      </div>
    </form>
</div>