<div class="login-wrapper">
    <form class="login" (ngSubmit)="onSignin(form)" #form="ngForm">
      <label class="title">
        <h3 class="welcome">Welcome to</h3>
        STMETER
        <h5 class="hint">Use your account to sign in or create one now</h5>
      </label>
      <div class="login-group">
        <input class="username" type="email" id="email" placeholder="Email"
        name="email" ngModel required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$">
        <input class="password" type="password" id="password" placeholder="Password"
        name="password" ngModel required>
        <p class="siginin-error" *ngIf="email_error">{{email_error}}, Invalid user name or password<p>
        <div class="checkbox">
            <input type="checkbox" id="rememberme">
            <label for="rememberme">
                Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.dirty || !form.valid">Sign In</button>
        <a routerLink="/signup" class="signup">Sign Up</a>
        <a [routerLink]="['/forgotPassword']">forgot password</a>
      </div>
    </form>
</div>
