<app-edit-measure [isNewMeasure]="newMeasure" (measureEdited)="onMeasureEdited($event)" *ngIf="getMeasureEditMode()">
</app-edit-measure>

<app-delete-dialog *ngIf="openDeleteDialog" [element]="toBeRemovedMeasure" (itemDeleted)="onMeasureDeleted($event)">
</app-delete-dialog>

<h4>Measurements</h4>
<div class="row">
  <div class="col-md-9">
    <p></p>
  </div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary btn-sm" (click)="onNewMeasure()">New Item Measurement</button>
  </div>
</div>

<table class="table table-compact">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Measure</th>
      <th>Unit</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let measure of measures; let i = index">
      <td>{{ measure.name }}</td>
      <td>{{ measure.category }}</td>
      <td>{{ measure.value }}</td>
      <td> {{ measure.unit }}</td>
      <td>
        <clr-dropdown clrMenuPosition="bottom-right">
          <button clrDropdownToggle>
            <clr-icon shape="cog"></clr-icon>
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu>
            <a clrDropdownItem (click)="onEditMeasure(measure)">
              <clr-icon shape="pencil" class="is-highlight"></clr-icon> Edit</a>
            <a clrDropdownItem (click)="onDeleteMeasure(measure, i)">
              <clr-icon shape="trash" class="is-error"></clr-icon> Delete</a>
          </clr-dropdown-menu>
        </clr-dropdown>
      </td>
    </tr>
  </tbody>
</table>