<!--component html goes here -->
<h1 align="center">Select Your Plan</h1>
<br>
<form #form="ngForm" novalidate>
    <div class="form-group">
        <label for="checkrads_1"></label>
        <clr-checkbox name="termsCheckbox" id="checkrads_11" [(ngModel)]="termsAgreement" (click)=onAnnualPlan(termsAgreement)>
            Annual Billing.Save {{ discountAmount }}% by prepaying for a year(that's more than 2 months offerd)
        </clr-checkbox>
    </div>
</form>
<br>
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a class="card clickable" align="center">
            <div class="card-header">SOLO</div>
            <br>
            <br>
            <div class="card-block">
                <p class="card-text" *ngIf="annualPlan">
                    <clr-icon shape="dollar"></clr-icon><b>{{soloPlanPrice}}/Mo.(Annual Billing)</b></p>
                <p class="card-text" *ngIf="!annualPlan">
                    <clr-icon shape="dollar"></clr-icon><b>{{soloPlanPrice}}/Mo.</b></p>
                <br>
                <p class="card-text">
                    <clr-icon shape="user" class="is-solid"></clr-icon> 1 user</p>
                <p class="card-text">
                    <clr-icon shape="clipboard" class="is-solid"></clr-icon>50 Estimate/Month</p>
                <p class="card-text">Email Support only</p>
                <br>
                <button class="btn btn-outline" routerLink="app-payment">Subscribe</button>
                <br>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a class="card clickable" align="center">
            <div class="card-header">STARTER</div>
            <br>
            <br>
            <div class="card-block">
                <p class="card-text" *ngIf="annualPlan">
                    <clr-icon shape="dollar"></clr-icon><b>{{starterPlanPrice}}/Mo.(Annual Billing)</b></p>
                <p class="card-text" *ngIf="!annualPlan">
                    <clr-icon shape="dollar"></clr-icon><b>{{starterPlanPrice}}/Mo.</b></p>
                <br>
                <p class="card-text">
                    <clr-icon shape="users" class="is-solid"></clr-icon> 2 users</p>
                <p class="card-text">
                    <clr-icon shape="clipboard" class="is-solid"></clr-icon>100 Estimate/Month</p>
                <p class="card-text">Phone,Chat & Email Support</p>
                <br>
                <button class="btn btn-outline" routerLink="app-payment">Subscribe</button>
                <br>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a class="card clickable" align="center">
            <div class="card-header">GROWTH</div>
            <br>
            <br>
            <div class="card-block">
                <p class="card-text" *ngIf="annualPlan">
                    <clr-icon shape="dollar"></clr-icon><b>{{growthPlanPrice}}/Mo.(Annual Billing)</b></p>
                <p class="card-text" *ngIf="!annualPlan">
                    <clr-icon shape="dollar"></clr-icon><b>{{growthPlanPrice}}/Mo.</b></p>
                <br>
                <p class="card-text">
                    <clr-icon shape="users" class="is-solid"></clr-icon> 5 users</p>
                <p class="card-text">
                    <clr-icon shape="clipboard" class="is-solid"></clr-icon>Unlimited Estimate/Month</p>
                <p class="card-text">Priority Phone,Chat & Email Support</p>
                <br>
                <button class="btn btn-outline" routerLink="app-payment">Subscribe</button>
                <br>
            </div>
        </a>
    </div>
</div>