<!--<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <a routerLink="user-profile" class="nav-link">
          User Profile Setting
        </a>
        <a routerLink="billing-info" class="nav-link">
          Billing Info
        </a>
        <a routerLink="upgrade-plan" class="nav-link">
          Upgrade Plan
        </a>
        <a routerLink="invite-user" class="nav-link">
          Invite New Users
        </a>
      </section>
    </nav>
  </div>
</div>-->
<div class="content-container">
  <nav class="sidenav">
    <section class="sidenav-content">
        <section class="nav-group collapsible">
          <input id="settings" type="checkbox">
          <label for="settings">Settings</label>
          <ul class="nav-list">
            <li><a routerLink="user-profile" class="nav-link">User Profile Setting</a></li>
            <li><a routerLink="billing-info" class="nav-link">Billing Info</a></li>
            <li><a routerLink="upgrade-plan" class="nav-link">Upgrade Plan</a></li>
            <li *ngIf="user.is_owner">
              <a routerLink="invite-user" class="nav-link">Invite New Users</a>
            </li>
          </ul>
        </section>
    </section>
  </nav>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
